/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #070707;
    opacity: 70%;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover{
    background-color: red;
  }

  .swiper {
    height: 1020px;
    z-index: 10;
  }

  .swiper-slide {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
  }

  .flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 60px;
    padding: 120px;
    font-size: 30px;
  }